<% if (!user) { %>

<% } else { %>
	<h2>Hello, <%= user.username %>.</h2>
<% } %>


<a id="start-btn" class="btn btn-primary btn-large">Start</a>

<br />
<br />

<a id="copy-inbox-btn" class="btn btn-primary btn-large">Copy Inbox</a>
