<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Local Example</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/javascripts/raphael.js"></script>
		<script type="text/javascript" src="/javascripts/splash-heart.js"></script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html">Relationship Bootstrap</a>
          <div class="nav-collapse">
             <ul class="nav">
              <li><a href="/about/">About</a></li>
              <li><a href="/options/">Options</a></li>
              <li><a href="/platforms/">Platforms</a></li>
              <li><a href="/changelog/">Change Log</a></li>
              <li><a href="https://github.com/jshint/jshint/archives/master">Download</a></li>
              <li><a href="https://github.com/jshint/node-jshint/">Node Package</a></li>
              <li><a href="https://github.com/jshint/jshint/">Source</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div id="heartexample">
    </div>


		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>